.typography {
	color: #3f3f3f;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {}

.typography h1::after,
.typography h2::after,
.typography h3::after,
.typography h4::after,
.typography h5::after,
.typography h6::after {}

.typography h1 {
	margin-top: .5em;
	margin-bottom: .5em;
	font-weight: 700;
	font-size: 2.4em;
	line-height: 1.1em;
}

.typography h2 {
	margin-top: 1.44em;
	margin-bottom: .72em;
	font-weight: 700;
	font-size: 1.8em;
	line-height: 1.44em;
}

.typography h3 {
	margin-top: .94em;
	margin-bottom: .94em;
	font-weight: 700;
	font-size: 1.35em;
	line-height: 1.89em;
}

.typography h4,
.typography h5,
.typography h6 {
	margin-top: 1.28em;
	margin-bottom: 1.28em;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.28em;
}

.typography p,
.typography ul,
.typography ol,
.typography pre,
.typography table,
.typography blockquote {
	margin-top: 1.28em;
	margin-bottom: 1.28em;
}

.typography ul,
.typography ol {
	margin-left: 2.56em;
}

.typography hr {
	margin: -1px 0;
	border: 1px solid;
}

.typography ul ul,
.typography ol ol,
.typography ul ol,
.typography ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

.typography b,
.typography strong,
.typography em,
.typography small,
.typography code {
	line-height: 1;
}

.typography b,
.typography strong,
.typography em {
	font-weight: bolder;
}

.typography sup,
.typography sub {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}

.typography sub {
	top: 0.4em;
}

.typography table {
	width: 100%;
	overflow-y: scroll;
}

.typography td,
.typography th {
	padding: 6px;
	border: 1px solid #b8b8b8;
}

.typography th {
	font-weight: 700;
}

.typography blockquote,
.typography cite {
	padding-left: 1.28em;
	border-left: 6px solid #b8b8b8;
}

.typography span {
	font-size: inherit;
}

.typography a {
	color: #C32429;
	text-decoration: underline;
}

.typography iframe {
	margin-top: 1.28em;
	margin-bottom: 1.28em;
	width: 100%;
	height: 400px;
	border: none;
}

.typography img {
	max-width: 100%;
	height: auto;
}